<!-- jQuery -->
<script src="/lib/jquery/jquery.min.js"></script>
<!-- Angular -->
<script src="/lib/angular/angular.min.js"></script>
<!-- Angular Route -->
<script src="/lib/angular-route/angular-route.min.js"></script>
<!-- Angular Resource -->
<script src="/lib/angular-resource/angular-resource.min.js"></script>
<!-- Angular Cookie -->
<script src="/lib/angular-cookies/angular-cookies.min.js"></script>
<!-- Angular MD5 -->
<script src="/lib/angular-md5/angular-md5.min.js"></script>
{% if configs.app.socket %}
<!-- Socket.io -->
<script src="/socket.io/socket.io.js"></script>
{% endif %}
<!-- Livi18n -->
<script src="/lib/livi18n/dist/livi18n.min.js"></script>
<script src="/lib/ng-livi18n/ngLivi18n.js"></script>
<!-- App -->
<script src="/app.js"></script>
<!-- App Init -->
<script src="/init.js"></script>