    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!--SEO-->
    <meta name="keywords" content="node.js, express, mongoose, mongodb, angularjs, swig, socket.io, i18n, passport">
    <meta name="description" content="{{ appdescription }}">

    <link href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <meta property="fb:app_id" content="APP_ID">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{ appdescription }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="APP_URL">
    <meta property="og:image" content="APP_LOGO">
    <meta property="og:site_name" content="{{title}}">
    <meta property="fb:admins" content="APP_ADMIN">
    <!--ASSETS-->
    <link rel="stylesheet" type="text/css" href="/theme/css/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/theme/css/admin.css">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
